<section class="list">
  <h2>{{'customer-management.list.main-title'|translate}} 
    <!-- Add Customer Part -->                
    <a [routerLink]="['add']" [tooltip]="'customer-management.list.tool-tip.add'|translate" class="btn btn-default">
      <span class="icon-add"></span>
    </a>
  </h2>
  <div class="row">
    <div class=" col-lg-3 p-2" *ngFor="let customer of customers">
      <wt-single-card [customer]="customer"></wt-single-card>
    </div>
  </div>
  <!-- Case No Customers Found -->
  <wt-no-content *ngIf="customers && customers.length <= 0"></wt-no-content>
  <div *ngIf="!customers" class="loading">
    <span class="icon-spinner global-spinner"></span>
  </div>

</section>